<div ng-controller = "chatController">
	
	<button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
	
	<textarea class="form-control" rows="5" cols="50" id="loggedUsers" readonly="true">
		
	</textarea>
	<textarea class="form-control" rows="20" cols="50" id="messages" readonly="true"></textarea>
	
	<form ng-submit="sendMessage()">
		<input type="text" ng-model="message" placeholder="Message" class="form-control" required>
		<input type="submit" value="Send" class="btn btn-primary">
	</form>
</div>