<div ng-controller = "chatController">
	
	<p>Welcome, {{username}}</p>
	<button type="button" class="btn btn-default" ng-click="logout()">Logout</button>
		
	<div>
		<select size="10" ng-model="loggedUsers" name="loggedUsers" class="form-control" id="loggedUsers">
			<option ng-repeat="user in loggedUsers">{{user.username}}</option>		
		</select>
	</div>
	
	<textarea class="form-control" rows="20" cols="50" id="messages" readonly="true"></textarea>
	
	<form ng-submit="sendMessage()">
		<input type="text" ng-model="message" placeholder="Message" class="form-control" required>
		<input type="submit" value="Send" class="btn btn-primary">
	</form>
</div>